<div class="landing-page">
  <div class="header-content">
    <div class="inner">
      <h1 class="landing-text">Need a topic? Ask Esther!</h1>

      <div class="image">
        <div class="avatar-center">
          <img src="./assets/images/esther.png" class="guide">
        </div>
        <div>
          <p class="speech"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="speechBubble">
  </div>
</div>
