<div class="landing-page">
  <div class="header-content">
    <div class="inner">
      <h1 class="landing-text">Need a topic? Ask Esther!</h1>

      <div class="image">
        <div>
          <img src="./assets/images/esther.png" class="guide">
          <div class="speechBubble">
            <p class="topic esther speech" data-id="{{topics.id}}">{{topics.content}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
