$foxorange: #f05833;
$cream: #fbfad2;
$chocolate: #9c3b22;
$beige: #fad9ad;
$lightgrey: #a9a89e;
$hovergrey: #e6e6e6;
$darkgrey: rgb(132, 118, 114);
$lightblue: #6496c8;
$hoverblue: #417cb8;
$activeblue: #417cb8;
$shadowblue: #27496d;
$lightbrown: rgba(156, 59, 34, .83);
