$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';
@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy);
@import 'typography';

body.container-fluid {
  background-color: $beige;
  margin: 0 auto;
  padding: 0;
}

.landing-page {
  align-content: center;
  align-items: center;
  background-color: $foxorange;
  display: flex;
  flex-flow:column;
  width: 100%;
}

#landingButtons {
  list-style-type: none;
  text-align: center;
  width: 100%;
}

.inner {
  background-color: $foxorange;
  color: $cream;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  width: 100%;

  .inner .landing-text {
    text-align: center;
  }

  .inner button {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .guide {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 30px;
    margin-left: 0 auto;
    max-width: 200px;
    min-width: 100px;
    width: 100%;
  }

}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > *:hover,
.rating > *:hover ~ span,
.rating:not(:hover) > input:checked ~ span {
  color: transparent;
}
.rating > *:hover:before,
.rating > *:hover ~ span:before,
.rating:not(:hover) > input:checked ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0;
   color: gold;
}

.rating > input {
   margin-left:-1.1em;
   margin-right:0;
   top:3px;
   width:1.1em;
   height:1.1em;
   position:relative;
   z-index:2;
   opacity:0;
}

#footer-icon {
  font-size: 4em;
  display: flex;
  justify-content: center;
}

#footer-icon :hover {
  color: $foxorange;
}

#footer-copyright {
  font-size: 1em;
  display: flex;
  justify-content: center;
}
