$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';
@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy);
@import 'typography';

body {
  background-color: $beige;
  margin: 0 auto;
  padding: 0;
}


.flat {
  appearance: none;
  border-radius: 0;
  box-shadow: none;
  display: inline-block;
  font-family: sans-serif;
  font-size: 28px;
  line-height: 1.8;
  margin: 0 10px 0 0;
  padding: 15px 25px;
}

.flat:focus {
  outline: none;
}

.landing-page {
  // align-content: center;
  // align-items: center;
  background-color: $foxorange;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

#landingButtons {
  list-style-type: none;
  text-align: center;
  width: 100%;

  button {
    justify-content: center;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

}

.flat {
  background-color: $lightgrey;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 10px $darkgrey;
  color: #fff;
}

.flat:hover {
  background-color: $hovergrey;
  cursor: pointer;
}

.flat:active {
  background-color: $lightgrey;
  box-shadow: 0 5px $darkgrey;
  transform: translateY(5px);
}


.inner {
  background-color: $foxorange;
  color: $cream;
  height: 100%;
  // justify-content: center;
  overflow: hidden;
  width: 100%;

  .inner .landing-text {
    text-align: center;
  }

  .inner button {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .guide {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 30px;
    margin-left: 0 auto;
    max-width: 200px;
    min-width: 100px;
    width: 100%;
  }

  .avatar {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 30px;
    margin-left: 0 auto;
    max-width: 120px;
    min-width: 100px;
  }

}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: x-large;
  text-align: center;
}
.rating > span {
  color: #fff;
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > *:hover,
.rating > *:hover ~ span,
.rating:not(:hover) > input:checked ~ span {
  color: transparent;
  cursor: pointer;
}
.rating > *:hover:before,
.rating > *:hover ~ span:before,
.rating:not(:hover) > input:checked ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0;
   color: gold;
}

.rating > input {
   margin-left:-1.1em;
   margin-right:0;
   top:3px;
   width:1.1em;
   height:1.1em;
   position:relative;
   z-index:2;
   opacity:0;
   vertical-align: center;
}

footer {
  background-color: #fff;
}

#footer-icon {
  background-color: #fff;
  font-size: 4em;
  display: flex;
  justify-content: center;
}

#footer-icon :hover {
  color: $foxorange;
}

#footer-copyright {
  background-color: #fff;
  font-size: 1em;
  display: flex;
  justify-content: center;
}
