$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';
@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy);
@import 'typography';

body.container-fluid {
  background-color: $beige;
  margin: 0 auto;
  padding: 0;
}

nav {
  font-weight: 700;
  margin: 0 auto;
  padding: 0;
  text-transform: uppercase;
}

.speech-text {
  margin: 5px 10px;
}


.flat {
  appearance: none;
  border-radius: 0;
  box-shadow: none;
  display: inline-block;
  font-family: sans-serif;
  font-size: 28px;
  line-height: 1.8;
  margin: 0 10px 0 0;
  padding: 15px 25px;
}

.flat:focus {
  outline: none;
}

.landing-page {
  // align-content: center;
  // align-items: center;
  background-color: $foxorange;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: -40px;
  width: 100%;
}

#landingButtons {
  list-style-type: none;
  text-align: center;
  width: 100%;

  button {
    justify-content: center;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

}

.image {
  // display: flex;
  display: flex;
  flex-flow: initial;
  align-items: center;
  align-self: center;

}

// .child {
//   display: flex;
// }

.speech {
  background-color: #fff;
  box-shadow: 2px 2px 4px #888;
  border: 3px solid $lightbrown;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  border-radius: 30px;
  color: $lightbrown;
  height: 100%;
  line-height: 20px;
  margin: 0 auto;
  text-align: center;
  width: auto;


}

.esther {
  margin: 10px;
  width: auto;
}

.move {
  margin-left: 10px;
}

.flat {
  background-color: $lightgrey;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 10px $darkgrey;
  color: #fff;
}

.flat:hover {
  background-color: $hovergrey;
  cursor: pointer;
}

.flat:active {
  background-color: $lightgrey;
  box-shadow: 0 5px $darkgrey;
  transform: translateY(5px);
}

.flat-2 {
  background-color: $lightblue;
  box-shadow: 0 10px $shadowblue;
  font-size: 16px;
}

.flat-2:hover {
  background-color: $hoverblue;
}

.flat-2:active {
  background-color: $lightblue;
  box-shadow: 0 5px $shadowblue;
}

.flat-white {
  background-color: $lightgrey;
  box-shadow: 0 10px $darkgrey;
  font-size: 16px;
}

.flat-white:hover {
  background-color: $hovergrey;
}

.flat-white:active {
  background-color: $lightgrey;
  box-shadow: 0 5px $darkgrey;
}

.rating-dashboard {
  margin-top: 20px;
}

.inner {
  background-color: $foxorange;
  color: $cream;
  display: flex;
  flex-direction: column;
  height: 100%;
  // justify-content: center;
  overflow: hidden;
  width: 100%;

  .inner .landing-text {
    padding-top: 20px;
    text-align: center;
  }

  .inner button {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .inner img {
    text-align: center;
  }

  .guide {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 30px;
    margin-left: 0 auto;
    max-width: 200px;
    min-width: 100px;
    width: 100%;
  }

  .avatar {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    margin-bottom: 30px;
    margin-left: 0 auto;
    max-width: 120px;
    min-width: 100px;
    text-align: center;
  }

}

.avatar-center {
  text-align: center;
}

.rating-header {
  color: $foxorange;
  margin-bottom: -20px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  display: inline-flex;
  font-size: x-large;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.rating > span {
  color: #fff;
  display: inline-flex;
  position: relative;
  width: 1.1em;
}
.rating > *:hover,
.rating > *:hover ~ span,
.rating:not(:hover) > input:checked ~ span {
  color: transparent;
  cursor: pointer;
}
.rating > *:hover:before,
.rating > *:hover ~ span:before,
.rating:not(:hover) > input:checked ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0;
   color: gold;
}

.rating > input {
   margin-left:-1.1em;
   margin-right:0;
   top:3px;
   width:1.1em;
   height:1.1em;
   position:relative;
   z-index:2;
   opacity:0;
   text-align: center;
}

.loggedout-hide {
  padding-bottom: 20px;
  text-align: center;
}

.title {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.nytholder {
  padding-top: 50px;
  padding-bottom: 50px;
}

footer {
  background-color: #fff;
}

#footer-icon {
  background-color: #fff;
  font-size: 4em;
  display: flex;
  justify-content: center;
}

#footer-icon :hover {
  color: $foxorange;
}

#footer-copyright {
  background-color: #fff;
  color: #777;
  font-size: 1em;
  display: flex;
  justify-content: center;
}
